Hi again.. 

I am find new source for python and data science. 

Trying at now step by step.

Again basics...

In [1]:
print(3+5)

8

In [2]:
print("Result : ",3+5)

Result :  8

In [3]:
print("Welcome to new world !!!")

Welcome to new world !!!

In [4]:
print ('Your selection."Double" or "Single" use str mark ')

Your selection."Double" or "Single" use str mark

In [6]:
print ("""
If your choose multiline write code pick this third way.
""")

If your choose multiline write code pick this third way.

In [7]:
print ("Weather" , 15 , "C")
print ("Weather" , 15 , "C", sep="+") # Sep change space than "str" value.

Weather 15 C
Weather+15+C

In [8]:
print("Fruit", end=" ")
print("Vegetables", end=" ") # End def value has /n. /n end of line. Now outputs dont make new line.

Fruit Vegetables

In [10]:
a= 1         # Integer data type 
a= 1.0       # Float data type
a= "a = string data type"
a= True      # Boolean data type

Little Calculate

In [11]:
pi =3.14
r = 4
print("Circle Length :", 2*pi*r,"cm")

Circle Length : 25.12 cm

In [12]:
Jen=Mar=May= 31  # Multi variables

Data Types

In [14]:
score = 42
print("Finel Exam Score : ",score,type(score))  # Type module show variable type.

Finel Exam Score :  42 <class 'int'>

In [17]:
a=22
b=15
print("Sum",a+b)
print("Sub",a-b)
print("Div",a/b,type(a/b))  # Return Value type float
print("Mul",a*b)
print("Pow",a**b)

Sum 37
Sub 7
Div 1.4666666666666666 <class 'float'>
Mul 330
Pow 136880068015412051968

In [23]:
fruit = "Orange"
vegetables = "Tomato"
print("Word           : ",fruit,len(fruit)) # Len module show variable type. 
print("1.Character    : ",fruit[0])
print("2.Character    : ",fruit[1])
print("3-5.Character  : ",fruit[2:5])
print("3-Full Char    : ",fruit[2:])
print(fruit+vegetables)
print(len(fruit+vegetables)*"--")          # Use len with make - with *

Word           :  Orange 6
1.Character    :  O
2.Character    :  r
3-5.Character  :  ang
3-Full Char    :  ange
OrangeTomato
------------------------