Hi again.. 

I am find new source for python and data science. 

Trying at now step by step.

Contact at from [Page Link.](https://github.com/timucinaydogdu) or <a href="tim.aydogdu@gmail.com">Mail :</a>tim.aydogdu@gmail.com

Again basics...

In [40]:
print(3+5)

8

In [41]:
print("Result : ",3+5)

Result :  8

In [42]:
print("Welcome to new world !!!")

Welcome to new world !!!

In [43]:
print ('Your selection."Double" or "Single" use str mark ')

Your selection."Double" or "Single" use str mark

In [44]:
print ("""
If your choose multiline write code pick this third way.
""")

If your choose multiline write code pick this third way.

In [45]:
print ("Weather" , 15 , "C")
print ("Weather" , 15 , "C", sep="+") # Sep change space than "str" value.

Weather 15 C
Weather+15+C

In [46]:
print("Fruit", end=" ")
print("Vegetables", end=" ") # End def value has /n. /n end of line. Now outputs dont make new line.

Fruit Vegetables

In [47]:
a= 1         # Integer data type 
a= 1.0       # Float data type
a= "a = string data type"
a= True      # Boolean data type

Little Calculate

In [48]:
pi =3.14
r = 4
print("Circle Length :", 2*pi*r,"cm")

Circle Length : 25.12 cm

In [49]:
Jen=Mar=May= 31  # Multi variables

Data Types

In [50]:
score = 42
print("Finel Exam Score : ",score,type(score))  # Type module show variable type.

Finel Exam Score :  42 <class 'int'>

In [51]:
a=22
b=15
print("Sum",a+b)
print("Sub",a-b)
print("Div",a/b,type(a/b))  # Return Value type float
print("Mul",a*b)
print("Pow",a**b)

Sum 37
Sub 7
Div 1.4666666666666666 <class 'float'>
Mul 330
Pow 136880068015412051968

In [52]:
fruit = "Orange"
vegetables = "Tomato"
print("Word           : ",fruit,len(fruit)) # Len module show variable type. 
print("1.Character    : ",fruit[0])
print("2.Character    : ",fruit[1])
print("3-5.Character  : ",fruit[2:5])
print("3-Full Char    : ",fruit[2:])
print(fruit+vegetables)
print(len(fruit+vegetables)*"--")          # Use len with make - with *

Word           :  Orange 6
1.Character    :  O
2.Character    :  r
3-5.Character  :  ang
3-Full Char    :  ange
OrangeTomato
------------------------

In [53]:
print ("{2} {0} {1} {3}".format("Data Scientist In"   ,6,     "We Will Be","Monts"))  # Format sample in with string type
###                                  index[0]       index[1]    index[2]    index[3]  ###

We Will Be Data Scientist In 6 Monts

In [54]:
pi=3.14159265359
print("Pi : {}".format(pi))
print("Pi : {:.3f}".format(pi))
print("Pi : {:.4f}".format(pi))
print("Pi : {:.5f}".format(pi))

Pi : 3.14159265359
Pi : 3.142
Pi : 3.1416
Pi : 3.14159

In [55]:
name = input('Your Name : ')
age  = input('Your Age  : ') 
print("-"*35)
print ("Your name is  {} and {} age old.".format(ad,yas))

Your Name : Timuçin
Your Age  : 35
-----------------------------------
Your name is  Timuçin and 35 age old.

Comparasion Operants = Return Result Boolean

### == If Equal
### != If Not Equal
### >  Bigger
### >= Equal and bigger
### <= Equal and lowwer

In [56]:
a = 42
b = "10"
c = "1.5"
d = "Apple"

print(a-int(b))
print(a-float(c))
print(d+str(a))

32
40.5
Apple42

# Home Work

In [91]:
### Data jarlabs Python Basics Home Work 1-2 
principalamount= 1000
interest_rate = 12
interes_date = 7
f=(principalamount*((1+interest_rate/100)**interes_date))-principalamount
totalamount=principalamount+f
print("Principal Amount : ", principalamount," $")
print("--"*30)
print("7 Days Interest Amount : {:.2f} $  Total Amounts : {:.2f} $".format(f,totalamount))
print("--"*30)
print("""Hafta başında {} dolarlık bitcoin aldığımızda günde ortalama %{} kazançla, 
bir hafta sonunda {:.2f} dolar kazanırdık""".format(principalamount,interest_rate,f))

Principal Amount :  1000  $
------------------------------------------------------------
7 Days Interest Amount : 1210.68 $  Total Amounts : 2210.68 $
------------------------------------------------------------
Hafta başında 1000 dolarlık bitcoin aldığımızda günde ortalama %12 kazançla,
bir hafta sonunda 1210.68 dolar kazanırdık

In [95]:
### Data jarlabs Python Basics Home Work 3
fname=input("Enter file name : ")
print(fname,"py",sep=".")

Enter file name : Pythonbasics
Pythonbasics.py