Hi again. 

We are working about Lists, Dictionaries, Tuples, Sets on this file. 

Contact at from [Page Link.](https://github.com/timucinaydogdu) or <a href="tim.aydogdu@gmail.com">Mail :</a>tim.aydogdu@gmail.com

In [1]:
mounts=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
scores=[88,76,56,45,98,92,65,25,36,79]
print(mounts)
print("--"*42)
print(scores)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
------------------------------------------------------------------------------------
[88, 76, 56, 45, 98, 92, 65, 25, 36, 79]

In [2]:
lists=["Hello",42,3.14,True,None]  # Difrent values in same list. 
print(lists)

['Hello', 42, 3.14, True, None]

In [3]:
mounts=[["Jan","Feb","Mar"],["Apr","May","Jun"],["Jul","Aug","Sep"],["Oct","Nov","Dec"]] # [] make empty list if not in value.
print(mounts[0])
print(mounts[1])
print(mounts[2])
print(mounts[3])

['Jan', 'Feb', 'Mar']
['Apr', 'May', 'Jun']
['Jul', 'Aug', 'Sep']
['Oct', 'Nov', 'Dec']

In [4]:
mounts=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
print(mounts[0])
print(mounts[3:7])
print(mounts[6:])
print("Count of Mounts :",len(mounts))

Jan
['Apr', 'May', 'Jun', 'Jul']
['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Count of Mounts : 12

In [5]:
mounts=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
scores=[88,76,56,45,98,92,65,25,36,79]
combine=mounts+scores
print(combine)
del(combine[1:4])
print(combine)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 88, 76, 56, 45, 98, 92, 65, 25, 36, 79]
['Jan', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 88, 76, 56, 45, 98, 92, 65, 25, 36, 79]

Append() --> Add new item in list. 
Insert() --> Add new item in list point location.
Pop()    --> Remove item in list at last position. 
Index()  --> Item calling index number. 
Join()   --> Conneting list items. 
Remove() --> Item deleting in list.

In [6]:
letter = ['a', 'b', 'c', 'd']
letter.append("e")
print(letter)
print("--"*42)
letter.insert(3,"ç")
print(letter)
print("--"*42)
letter.pop()                                   # Pop work like append but remove item.
print(letter)
print("--"*42)
print("Inex Number " ,letter.index("ç"))
print("--"*42)
paraf= "-".join(letter)
print(paraf,type(letter),"to",type(paraf))     # List changeing str variables. 
letter.remove(letter[3])
print("--"*42)
print(letter)

['a', 'b', 'c', 'd', 'e']
------------------------------------------------------------------------------------
['a', 'b', 'c', 'ç', 'd', 'e']
------------------------------------------------------------------------------------
['a', 'b', 'c', 'ç', 'd']
------------------------------------------------------------------------------------
Inex Number  3
------------------------------------------------------------------------------------
a-b-c-ç-d <class 'list'> to <class 'str'>
------------------------------------------------------------------------------------
['a', 'b', 'c', 'd']

In [7]:
_win=["Dec","Jan","Feb"]                    # Multi layer list sample.
_spr=["Mar","Apr","May"]
_sum=["Jun","Jul","Aug"]
_fal=["Sep","Oct","Nov"]
seasons=[_win,_spr,_sum,_fal]
print(seasons)
print("--"*42)
print(seasons[2])
print("--"*42)
print(seasons[2][1])

[['Dec', 'Jan', 'Feb'], ['Mar', 'Apr', 'May'], ['Jun', 'Jul', 'Aug'], ['Sep', 'Oct', 'Nov']]
------------------------------------------------------------------------------------
['Jun', 'Jul', 'Aug']
------------------------------------------------------------------------------------
Jul

Dictionaries --> Making  Key : Value

In [8]:
greetings = {
        "english": "hello",
        "japanese": "こんにちは",
        "german": "hallo",
        "hindi": "नमस्ते",
        "leet": "h3ll0" }

print(greetings)
print("--"*42)
print(greetings["german"])                  # Calling data.
print("--"*42)
print(list(greetings.items()))
print("--"*42)
print(list(greetings.keys()))
print("--"*42)
print(list(greetings.values()))
print("--"*42)
greetings["japanese"]= "Ohayou"             # Value update 
print(greetings)
print("--"*42)
greetings["turkish"]= "Selamın Aleyküm."    # Add new item
print(greetings)
print("--"*42)
del greetings["leet"]                       # Delete item.
print(greetings)
print("--"*42)
print("German in list : ","german" in greetings)  # Checking dictionary
print("--"*42)
print("leet in list : ","leet" in greetings)
print("--"*42)

{'english': 'hello', 'japanese': 'こんにちは', 'german': 'hallo', 'hindi': 'नमस्ते', 'leet': 'h3ll0'}
------------------------------------------------------------------------------------
hallo
------------------------------------------------------------------------------------
[('english', 'hello'), ('japanese', 'こんにちは'), ('german', 'hallo'), ('hindi', 'नमस्ते'), ('leet', 'h3ll0')]
------------------------------------------------------------------------------------
['english', 'japanese', 'german', 'hindi', 'leet']
------------------------------------------------------------------------------------
['hello', 'こんにちは', 'hallo', 'नमस्ते', 'h3ll0']
------------------------------------------------------------------------------------
{'english': 'hello', 'japanese': 'Ohayou', 'german': 'hallo', 'hindi': 'नमस्ते', 'leet': 'h3ll0'}
------------------------------------------------------------------------------------
{'english': 'hello', 'japanese': 'Ohayou', 'german': 'hallo', 'hindi': 'नमस्ते', 'leet': 'h3ll0', 'turkish': 'Selamın Aleyküm.'}
------------------------------------------------------------------------------------
{'english': 'hello', 'japanese': 'Ohayou', 'german': 'hallo', 'hindi': 'नमस्ते', 'turkish': 'Selamın Aleyküm.'}
------------------------------------------------------------------------------------
German in list :  True
------------------------------------------------------------------------------------
leet in list :  False
------------------------------------------------------------------------------------

Tuples --> Very similar like list. But use for fixed values. Tubles dont have append pop or like etc. Useing with ()
           Tuples just have 2 metod. Index() and Count()

In [9]:
my_tuple=(1,4,3,4,5,6,7,4)

print(my_tuple)
print('Index:', my_tuple.index(4))    # Firsth ındex value
print('Count:', my_tuple.count(4))    # Count value quantty

(1, 4, 3, 4, 5, 6, 7, 4)
Index: 1
Count: 3

Sets --> Adding multi data types but dont add similar values. Sets dont have index number. 

Sets Metods ; 

**remove()**: Remove set parameters

**add()**: Add new item in set

**difference()**: Two sets difference showing.

**discard()**: Remove item in set

**intersection()**: Two sets intersection show

**union()**: Showing two sets all parameter.

In [10]:
fruit = set(['apple','pear', 'orange','cherry', 'banana'])
print(fruit,"<--",type(fruit))
print("--"*42)
karakterler = "Veri Bilimi Bootcamp"
küme = set(karakterler)
print(küme)

{'pear', 'banana', 'cherry', 'orange', 'apple'} <-- <class 'set'>
------------------------------------------------------------------------------------
{'l', 'o', ' ', 'a', 'V', 'p', 'c', 'm', 'i', 'B', 'e', 'r', 't'}

## Home Work
Data Jarlabs Data Types Home Work

In [12]:
### Work 1
days={
    1 : "Monday",
    2 : "Tuesday",
    3 : "Wednesday",
    4 : "Thursday",
    5 : "Friday",
    6 : "Saturday",
    7 : "Sunday"
}
print(days)
print("--"*42)
x=input("Pick 2 day number for delete at list :")
del days[int(x[0])]
del days[int(x[1])]
print(days)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}
------------------------------------------------------------------------------------
Pick 2 day number for delete at list :23
{1: 'Monday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [96]:
### Work 2
#Jan = Mar = May = Jul = Aug = Oct = Dec = 31
#Apr = Jun = Sep = Nov = 30
#Feb = 28

d2=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
d=[31,28,31,30,31,30,31,31,30,31,30,31]
m=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]


t=[m[0],d[0]],[m[1],d[1]],[m[2],d[2]],[m[3],d[3]],[m[4],d[4]],[m[5],d[5]],[m[6],d[6]],[m[7],d[7]],[m[8],d[8]],[m[9],d[9]],[m[10],d[10]],[m[11],d[11]]
t2=[m,d2]

print(t,"\n")
print("HomeWork 3"*10,"\n")
print(t2,"\n")

print("HomeWork 4"*10,"\n")
_win=["Dec","Jan","Feb"]    
_spr=["Mar","Apr","May"]
_sum=["Jun","Jul","Aug"]
_fal=["Sep","Oct","Nov"]
t3=[_win,_spr,_sum,_fal]
print(t3,"\n")

print("HomeWork 5"*10,"\n")
print(_sum)
x=m.index(_sum[0])
y=m.index(_sum[1])
z=m.index(_sum[2])

t4=d[x]+d[y]+d[z]

print("Summer day count is : ",t4)

(['Jan', 31], ['Feb', 28], ['Mar', 31], ['Apr', 30], ['May', 31], ['Jun', 30], ['Jul', 31], ['Aug', 31], ['Sep', 30], ['Oct', 31], ['Nov', 30], ['Dec', 31])

HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3HomeWork 3

[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']]

HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4HomeWork 4

[['Dec', 'Jan', 'Feb'], ['Mar', 'Apr', 'May'], ['Jun', 'Jul', 'Aug'], ['Sep', 'Oct', 'Nov']]

HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5HomeWork 5

['Jun', 'Jul', 'Aug']
Summer day count is :  92